/*
* Partially derived from: Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

@import-normalize;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #222;
  margin: 0 16px;
  font-weight: 200;
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  list-style: none;
  box-sizing: border-box;
}

code,
input,
textarea {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

/*****/

.container {
  display: flex;
  flex-direction: column;
}

.input,
.selitys,
.rivi,
.perustiedot {
  flex: 1;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.rivi,
.lisarivi {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
}

.rivi,
.lisarivi,
.input-viesti > textarea {
  border: 1px solid #aaa;
  box-shadow: 1px 3px 3px #999;
}

.list-control-container {
  position: relative;
  min-height: 3rem;
}

.list-control {
  position: absolute;
  width: 1.5rem;
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 1px 3px 3px #999;
  transition: all 0.1s ease-in-out;
}

.list-control-label {
  position: absolute;
  left: 28px;
}

.list-control:hover,
.list-control:focus {
  margin-top: 2px;
  margin-left: 1px;
  box-shadow: none;
  border-color: #42b;
}

.input-kulkuneuvo > div {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  flex: 0 auto;
  min-height: 6rem;
  min-width: 100px;
  margin-right: 10px;
}

.button-wrapper * {
  overflow: hidden;
}

/*****/

@media (min-width: 550px) {
  h1,
  .selitys,
  .input-viesti,
  .buttons {
    margin-left: 28px;
  }
  .perustiedot,
  .rivi,
  .lisarivi {
    display: grid;
    grid-template-columns: [lft] 20px repeat(10, [col] 1fr) [rgt] 20px;
    grid-template-rows: repeat(5, [row] auto);
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .input-nimi,
  .input-tilaisuus {
    grid-column: col 1 / span 5;
  }
  .input-tili,
  .input-pvm {
    grid-column: col 6 / span 5;
  }
  .input-kulkuneuvo {
    grid-column: col 1 / span 2;
  }
  .input-lahtopaikka,
  .input-tulopaikka,
  .input-km {
    grid-column-end: span 2;
  }
  .input-kustannus {
    grid-column: col 9 / span 2;
  }
  .rivi .list-control-label {
    display: none;
  }
  .lisarivi .list-control-container {
    grid-column: lft / span 11;
  }
  .taksa {
    grid-column: col 1 / span 10;
  }
  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .button-wrapper {
    flex: 0 1;
    min-width: 15rem;
  }
}

section {
  margin-top: 2rem;
}

.ok,
.notOk {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.ok {
  color: green;
}

.notOk {
  color: red;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  color: #222;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #aaa;
  cursor: pointer;
  box-shadow: 3px 5px 5px #999;
  transition: all 0.1s ease-in-out;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: #333;
  border-color: #42b;
  outline: 0;
  box-shadow: none;
  margin-top: 2px;
  margin-left: 1px;
}
button,
.button {
  margin-bottom: 1rem;
  transition: color ease 100ms;
  transition: background-color ease 100ms;
}
button.working {
  color: #fff;
  background-color: #222;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

.u-full-width {
  width: 100%;
}

@font-face {
  font-family: 'Public Sans Web';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: local('Public Sans Light'), local('PublicSans-Light'),
    url(../fonts/PublicSans-Light.woff2) format('woff2'),
    url(../fonts/PublicSans-Light.woff) format('woff'),
    url(../fonts/PublicSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Public Sans Web';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('Public Sans SemiBold'), local('PublicSans-SemiBold'),
    url(../fonts/PublicSans-SemiBold.woff2) format('woff2'),
    url(../fonts/PublicSans-SemiBold.woff) format('woff'),
    url(../fonts/PublicSans-SemiBold.ttf) format('ttf');
}

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

@media (min-width: 550px) {
  h1 {
    font-size: 3rem;
  }
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: 1px solid #43c;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
footer {
  margin-top: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer hr {
  width: 100%;
}
